body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/public/img/pregunta2.1.jpg');
}

.login {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login .input-group {
    margin-bottom: 15px;
}

.login .input-group label {
    font-weight: bold;
}

.login .input-group input[type="text"],
.login .input-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login button:hover {
    background-color: #45a049;
}

h3.necesitasCuenta{
    font-size: 0.8em;
    text-align: center;
}
.registrarse {

    text-decoration: none;
    color: blueviolet;
    font-size: 0.1em;
}

/*sugerir pregunta*/

.titulo {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

.crear-pregunta-form {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.crear-pregunta-form .input-group {
    margin-bottom: 15px;
    width: 100%;
}

.crear-pregunta-form .input-group label {
    font-weight: bold;
    display: block;
}

.crear-pregunta-form .input-group textarea,
.crear-pregunta-form .input-group select,
.crear-pregunta-form .input-group input[type="text"] {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 5px;
}

.btn-agregar, .btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-agregar:hover, .btn-submit:hover {
    background-color: #45a049;
}

/*homeEditor*/

.botonEditarCustom {
    text-align: right;
    margin: 10px;
}

.botonEditarCustom a {
    text-decoration: none;
    color: blueviolet;
    font-size: 0.8em;
}

.panel-container-custom {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.panel-title-custom {
    text-align: center;
    margin-bottom: 20px;
}

.button-container-custom {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button-custom {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button-custom:hover {
    background-color: #45a049;
}

.volver-home-custom {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.8em;
}

.volver-home-custom:hover {
    background-color: #45a049;
    text-decoration: none;
}

.volver-home-custom:active {
    background-color: #3e8e41;
}

.volver-home-custom:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #4caf50;
}

@media (max-width: 768px) {
    .panel-container-custom {
        width: 90%;
        padding: 15px;
    }

    .button-container-custom {
        flex-direction: column;
        align-items: center;
    }

    .button-custom {
        margin-top: 10px;
    }
}

/*listado general de preguntas*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.panel {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
    border-radius: 10px;
}

.panel h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a202c;
}

.table-container {
    width: 100%;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
    background-color: #f2f2f2;
}

.actions-cell {
    text-align: center;
}

.actions-cell form {
    display: inline;
    margin-right: 10px;
}

.actions-cell button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 5px;
}

.actions-cell button:hover {
    background-color: #45a049;
}

.actions-cell .button-danger {
    background-color: #f44336;
}

.actions-cell .button-danger:hover {
    background-color: #d32f2f;
}

.link-options {
    display: block;
    margin-top: 20px;
    color: #4caf50;
    text-decoration: none;
    text-align: center;
}

.link-options:hover {
    text-decoration: underline;
}

/* preguntas sugeridas*/

.page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
    border-radius: 10px;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a202c;
}

.table-container {
    margin-top: 20px;
}

.question-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table-header {
    padding: 12px;
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}


.question-table tbody tr {
    border: 1px solid #ddd;
}

.question-table tbody td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.action-button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #45a049;
}

.link-container {
    margin-top: 20px;
    text-align: center;
}

.page-link {
    padding: 10px;
    display: inline-block;
    margin: 0 10px;
    color: #4caf50;
    text-decoration: none;
}

.page-link:hover {
    text-decoration: underline;
}

/*modificar pregunta*/

.modificar-pregunta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste para ocupar toda la altura */
}

.modificar-pregunta-form {
    width: 80%; /* Ajuste del ancho del formulario */
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
    border-radius: 10px;
}

.modificar-pregunta-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.modificar-pregunta-form .input-group {
    margin-bottom: 15px;
}

.modificar-pregunta-form .input-group label {
    font-weight: bold;
    display: block;
}

.modificar-pregunta-form .input-group input[type="text"],
.modificar-pregunta-form .input-group textarea,
.modificar-pregunta-form .input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Ajuste para incluir el padding en el ancho total */
}

.modificar-pregunta-form .input-group input[type="radio"] {
    margin-right: 10px;
}

.modificar-pregunta-form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.modificar-pregunta-form button:hover {
    background-color: #45a049;
}