.errorcontainer {
    max-width: 320px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.form {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a202c;
    grid-column: span 2;
}

.iniciarSesion {
    font-size: 1.5em;
    grid-column: span 2;
}

.label {
    font-size: 1rem;
    color: #4a5568;
    margin-bottom: 5px;
}

.input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1rem;
    color: #4a5568;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.input:focus {
    background-color: #fff;
    box-shadow: 0 0 0 2px #cbd5e0;
}



.input:invalid {
    border: 1px solid rgba(14, 14, 14, 0.205);
}

.password-info {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    grid-column: span 2;
}

.password-error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    margin-top: 5px;
    display: none;
    grid-column: span 2;
}

.map-container {
    grid-column: span 2;
    margin-bottom: 20px;
}

.btn-container {
    grid-column: span 2;
    text-align: center;
}

.text-center {
    grid-column: span 2;
    text-align: center;
}

body{
    background-image: url("../img/fondoRegistro.png");
    background-size: cover;
}
