h1{
    text-align: center;
    padding: 0.5em;
}

body {
    font-family: Arial, sans-serif;
}

.graficos{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    align-items: center;
}

img{
    border: 2px solid;
}

h2{
    text-decoration: underline;
}

.botonEditar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 1em;
    padding: 1em;
    background-color: black;
    margin-left:1em;
}