<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link rel="icon" href="../public/assets/favicon.ico" type="image/x-icon">
    <title>Preguntados</title>

</head>
<body class="bodyBienvenidaUser">
<div class="confirmaCorreo">

    <div>
        <p class="bienvenido">Bienvenido!</p>
        <p>Ya podes ingresar a nuestro sitio</p>
    </div>

    <div class="botonEditar">
        <a href="/Login/get">Iniciar sesion</a>
    </div>

</div>
</body>
</html>
