<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Pregunta Sugerida</title>
    <link rel="stylesheet" href="../public/css/estilos.css">

</head>
<body class="bodyPreguntaSugerida">
<h1 class="crearPreguntaSugerida">CREAR PREGUNTA SUGERIDA</h1>

<form action="/Pregunta/crearPreguntaSugerida" method="POST" class="formCrearPreguntaSug">
    <label for="pregunta_texto">Texto de la Pregunta:</label><br>
    <textarea id="pregunta_texto" name="pregunta_texto" rows="4" cols="50" required></textarea><br>

    <label for="id_tematica">Tema:</label>
    <select id="id_tematica" name="id_tematica">
        {{#tematicas}}
            <option value="{{id_tematica}}">{{nombre}}</option>
        {{/tematicas}}
    </select><br>


    <div id="respuestas">
        <label for="respuesta_0">Respuesta 1:</label>
        <input type="text" name="respuestas[]" id="respuesta_0" required>
        <input type="radio" name="respuesta_correcta" value="0" required> Correcta<br>

        <label for="respuesta_1">Respuesta 2:</label>
        <input type="text" name="respuestas[]" id="respuesta_1" required>
        <input type="radio" name="respuesta_correcta" value="1"> Correcta<br>

        <label for="respuesta_2">Respuesta 3:</label>
        <input type="text" name="respuestas[]" id="respuesta_2" required>
        <input type="radio" name="respuesta_correcta" value="2"> Correcta<br>

        <label for="respuesta_3">Respuesta 4:</label>
        <input type="text" name="respuestas[]" id="respuesta_3" required>
        <input type="radio" name="respuesta_correcta" value="3"> Correcta<br>
    </div>
    <button type="button" onclick="addRespuesta()">Agregar Respuesta</button><br><br>
    <button type="submit">Crear Pregunta Sugerida</button>

    <div class="botonEditar">
        <a href="/">Volver al home</a>
    </div>
</form>

<br>
<script src="../public/js/preguntaSugerida.js"></script>
</body>
</html>
