<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link rel="stylesheet" href="/public/css/styles.css">


</head>
<body>

<div class="panel-container">
    <h1>Panel de Control</h1>
    <div class="button-container">
        <a href="/Login/listadoGeneralPreguntas" class="button">Listado General de Preguntas</a>
        <a href="/Login/getPreguntasReportadas" class="button">Preguntas Reportadas</a>
        <a href="/Login/getPreguntasSugeridas" class="button">Preguntas Sugeridas</a>
        <a href="/Login/mostrarFormularioCrearPregunta" class="button">Crear Pregunta</a>
    </div>
</div>

</body>
</html>
