<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link rel="icon" href="../public/assets/favicon.ico" type="image/x-icon">
    <title>Home</title>

</head>
<body class="bodyHomeAdmin">
<header class="headerHomeAdmin">
    <div class="header-content">
        <div>
            <img src="/public/img/logo.png" alt="Logo">
        </div>
        {{#usuario}}
            <img class="imagenPerfil" src="/public/img/users/{{imagen_perfil}}">
            <a href="/PerfilUsuario">
                <h1 class="probando">Mi perfil</h1>
            </a>

            <a href="/Login/cerrarSesion">
                <h1 class="probando">Cerrar Sesion</h1>
            </a>

        {{/usuario}}
        <div class="botonEditar">
            <div>
                <a href="/" class="btn-custom">Volver al home</a>
            </div>
        </div>
    </div>
</header>

<main>




    <h1 class="panelHomeAdmin">PANEL DE ADMINISTRADOR</h1>
   <div class="estadisticas">

       {{#cantidad_usuarios}}
           <div class="datosHomeAdmin">
               <h2 class="h2Admin">JUGADORES TOTALES:</h2>{{total_usuarios}}
           </div>
       {{/cantidad_usuarios}}


           <div class="datosHomeAdmin">
               <h2 class="h2Admin">PARTIDAS JUGADAS: </h2>
                   {{#partidasClasicas}}<h2 class="h2AdminTipo">Clasica: {{partidasClasicas}} </h2> {{/partidasClasicas}}
               {{#partidasDuelo}}<h2 class="h2AdminTipo">Duelo: {{partidasDuelo}}</h2>{{/partidasDuelo}}

           </div>

       {{#preguntasTotales}}
           <div class="datosHomeAdmin">
               <h2 class="h2Admin">PREGUNTAS EN EL JUEGO:</h2> {{preguntasTotales}}
           </div>
       {{/preguntasTotales}}

       {{#preguntasCreadas}}
       <div class="datosHomeAdmin">
           <h2 class="h2Admin">PREGUNTAS CREADAS:</h2> {{preguntasCreadas}}
       </div>
       {{/preguntasCreadas}}


       {{#nuevosUsuarios}}
       <div class="datosHomeAdmin">
           <h2 class="h2Admin">USUARIOS NUEVOS:</h2>{{nuevosUsuarios}}
       </div>
       {{/nuevosUsuarios}}

       <div class="datosHomeAdmin">
           <h2 class="h2Admin">PORCENTAJE DE PREGUNTAS CORRECTAS</h2>
           {{#porcentajeRespUser}}
               <div class="usuarioPorcentaje">
                   <h3>{{nombre_usuario}}</h3>
                   <img src="/public/img/users/{{imagen_perfil}}" class="imagenPerfil">
                   <div>{{porcentaje_correctas}} %</div>
               </div>
           {{/porcentajeRespUser}}

       </div>


       <div class="datosHomeAdmin">
       {{#contadorUsuariosPais}}
           <h2 class="h2Admin">USUARIOS POR PAIS:</h2>
           <h3>{{pais}}: {{contadorUsuarios}}</h3>
       {{/contadorUsuariosPais}}
       </div>



       <div class="datosHomeAdmin">
           <h2 class="h2Admin">USUARIOS POR GENERO</h2>
           {{#usuariosGeneroF}} <h2 class="h2AdminTipo">Femenino: {{usuariosGeneroF}}</h2> {{/usuariosGeneroF}}
           {{#usuariosGeneroM}} <h2 class="h2AdminTipo">Masculino: {{usuariosGeneroM}}</h2> {{/usuariosGeneroM}}
       </div>


       <div class="datosHomeAdmin">
           <h2 class="h2Admin">USUARIOS POR EDAD</h2>
           {{#usuariosMenores}}
               <h2 class="h2AdminTipo">Menores: {{usuariosMenores}}</h2>
           {{/usuariosMenores}}
           {{#usuariosAdultos}}
               <h2 class="h2AdminTipo">Adultos: {{usuariosAdultos}}</h2>
           {{/usuariosAdultos}}
           {{#usuariosMayores}}
               <h2 class="h2AdminTipo">Jubilados: {{usuariosMayores}}</h2>
           {{/usuariosMayores}}
       </div>

       <div class="stats mt-3">
           <a href="/Admin/generarPDF" class="btn btn-light btn-outline-secondary px-20px" id="download-button">Descargar PDF</a>
           <a href="" class="btn btn-light btn-outline-secondary px-20px" id="download-button">Ver graficos</a>
       </div>


   </div>


</main>
<footer>
    <div class="acomodarFooter">
        <div class="seccion1Footer">

        </div>
        <div class="drev">
            <p>Derechos Reservados ©2024 Preguntados. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
</body>
</html>





