<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link rel="icon" href="../public/assets/favicon.ico" type="image/x-icon">
    <title>Home</title>
</head>
<body class="bodyUserLogueado">
<header>
    <div class="header-content">
        <div>
            <img src="/public/img/logo.png" alt="Logo">
        </div>
        {{#usuario}}
            <img class="imagenPerfil" src="/public/img/users/{{imagen_perfil}}">
            {{#editor}}
                <a href="/Pregunta">
                    <h1 class="probando">PANEL EDITOR</h1>
                </a>
            {{/editor}}
            {{#admin}}
                <a href="/admin">
                    <h1 class="probando">PANEL ADMIN</h1>
                </a>
            {{/admin}}
            <a href="/PerfilUsuario">
                <h1 class="probando">PERFIL</h1>
            </a>
            <a href="/Login/cerrarSesion">
                <h1 class="probando">CERRAR SESION</h1>
            </a>
        {{/usuario}}
    </div>
</header>

<main>
    {{#usuario}}
        <h1 class="puntaje">MI PUNTAJE: {{puntaje}}</h1>
        <div class="buttons-container">
            <a href="/Play" class="btn-custom">Nueva Partida</a>
            <a href="/Ranking" class="btn-custom">Ranking</a>
            <a href="/Pregunta/mostrarFormularioCrearPreguntaSugerida" class="btn-custom">Sugerir pregunta</a>
        </div>
    {{/usuario}}
    <h2 class="puntaje">PARTIDAS</h2>
    <ul class="puntosPartidas">
        {{#partidas}}
            <li>Puntos: {{puntos}}, Fecha: {{fecha}}, Jugador: {{username}}</li>
        {{/partidas}}
        {{^partidas}}
            <li>No has jugado ninguna partida aún.</li>
        {{/partidas}}
    </ul>
</main>
<footer>
    <div class="acomodarFooter">
        <div class="seccion1Footer">
        </div>
        <div class="drev">
            <p>Derechos Reservados ©2024 Preguntados. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
</body>
</html>

<style>
    .puntosPartidas {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
        border: 2px solid white;
        padding: 2em;
        border-radius: 1em;
        background-color: cadetblue;
    }

    .puntosPartidas li {
        text-align: center;
        margin-bottom: 10px;
    }
</style>