<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado General de Preguntas</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
</head>
<body class="bodyHomeEditor">


<div class="panel-containerHomeEditor">
    <h1>Panel de Control</h1>
    <div class="button-containerHomeEditor">
        <a href="/Pregunta/listadoGeneralPreguntas" class="buttonHomeEditor">Listado General de Preguntas</a>
        <a href="/Pregunta/getPreguntasReportadas" class="buttonHomeEditor">Preguntas Reportadas</a>
        <a href="/Pregunta/getPreguntasSugeridas" class="buttonHomeEditor">Preguntas Sugeridas</a>
        <a href="/Pregunta/mostrarFormularioCrearPreguntaSugerida" class="buttonHomeEditor">Crear Pregunta</a>
    </div>

    <div class="botonEditarHomeEditor">
        <div>
            <a href="/">Volver al home</a>
        </div>
    </div>
</div>

</body>
</html>


