<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado General de Preguntas</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
<div class="botonEditar">
    <div>
        <a href="/">Volver al home</a>
    </div>
</div>

<div class="panel-container">
    <h1>Panel de Control</h1>
    <div class="button-container">
        <a href="/Pregunta/listadoGeneralPreguntas" class="button">Listado General de Preguntas</a>
        <a href="/Pregunta/getPreguntasReportadas" class="button">Preguntas Reportadas</a>
        <a href="/Pregunta/getPreguntasSugeridas" class="button">Preguntas Sugeridas</a>
        <a href="/Pregunta/mostrarFormularioCrearPreguntaSugerida" class="button">Crear Pregunta</a>
    </div>
</div>

</body>
</html>