<head>

</head>
<body>
<div>
    <h2>Iniciar sesión</h2>
    <div>
        <form action="" method="POST">
            <input type="email" name="mail" id="mail" placeholder="Correo electrónico">
            <input type="password" name="contrasenia" id="contrasenia" placeholder="Contrasenia">
            <input type="submit" name="ingreso" id="ingreso" value="Ingresar">
        </form>
    </div>
        <div>
        <h3>O inicia sesión con</h3>
            <a href="#">G</a>
            <a href="#">F</a>
            <a href="#">X</a>
    </div>
</div>
<div>
    <h3>¿Necesitas una cuenta?</h3>
    <a href="#">Registrarse</a>
</div>
</body>