<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
</head>
<body>

<div class="containerListadoGeneral">
    <div class="panelListadoGeneral">
        <h1>Listado General de Preguntas</h1>

        <div class="table-containerListadoGeneral">
            <table class="tableListadoGeneral">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Pregunta</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {{#preguntas}}
                    <tr>
                        <td>{{id_pregunta}}</td>
                        <td>{{texto}}</td>
                        <td class="actions-cell">
                            <form action="/Pregunta/mostrarFormularioModificarPreguntaYRespuesta" method="POST">
                                <input type="hidden" name="id_pregunta" value="{{id_pregunta}}">
                                <button type="submit">Modificar</button>
                            </form>
                            <form action="/Pregunta/eliminarPregunta" method="POST">
                                <input type="hidden" name="id_pregunta" value="{{id_pregunta}}">
                                <button type="submit" class="button-danger">Borrar </button>
                            </form>
                        </td>
                    </tr>
                {{/preguntas}}
                </tbody>
            </table>
        </div>

        <a href="/Pregunta/getPreguntasReportadas" class="link-options">Preguntas Reportadas</a>
        <a href="/Pregunta/getPreguntasSugeridas" class="link-options">Preguntas Sugeridas</a>
        <a href="/Pregunta" class="link-options">Panel de Control</a>
    </div>
</div>

</body>
</html>

