<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Pregunta y Respuestas</title>
    <link rel="stylesheet" href="../public/css/estilos.css">

</head>
<body class="background-image">
<div class="modificar-pregunta-container">
    <div class="modificar-pregunta-form">
        <h1>Modificar Pregunta y Respuestas</h1>

        {{#pregunta}}
            <form action="/Pregunta/actualizarPreguntaYRespuestas" method="POST">

                <input type="hidden" name="id_pregunta" value="{{id_pregunta}}">
                <div class="input-group">
                    <label for="pregunta_texto">Texto de la Pregunta:</label>
                    <textarea id="pregunta_texto" name="pregunta_texto" class="input-textarea">{{texto}}</textarea>
                </div>
                <div class="input-group">
                    <label for="id_tematica">Tema:</label>
                    <select id="id_tematica" name="id_tematica" class="input-select">
                        {{#tematicas}}
                            <option value="{{id_tematica}}" {{#is_selected}}selected{{/is_selected}}>{{nombre}}</option>
                        {{/tematicas}}
                    </select>
                </div>
                {{#respuestas}}
                    <div class="input-group">
                        <input type="radio" name="respuesta_correcta" value="{{id_respuesta}}" {{#is_correcta}}checked{{/is_correcta}}>
                        <input type="text" name="respuesta[]" value="{{texto}}" class="input-text">
                        <input type="hidden" name="id_respuesta[]" value="{{id_respuesta}}">
                    </div>
                {{/respuestas}}
                <button type="submit" class="button-submit">Guardar cambios</button>
            </form>
        {{/pregunta}}
    </div>
</div>
</body>
</html>
