<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/css/modificarUsuario.css">
    <link rel="icon" href="../public/assets/favicon.ico" type="image/x-icon">
    <title>Modificacion</title>
<body class="d-flex align-items-center" >
<div class="form-container">
    <form class="form" action="/PerfilUsuario/procesarModificacion" method="POST" enctype="multipart/form-data">
    <div class="datos-container">
        {{#error}}
            <div class="error-message">
                <p>{{error}}</p>
            </div>
        {{/error}}
    <div class="datos">
        {{#datos_usuario}}
            <div class="imagen">
                <img src="/public/img/users/{{imagen_perfil}}">
                <label for="imagen" class="label"></label>
                <input type="file" id="imagen" name="imagen" class="input">
            </div>
            <div class="nombresPrincipales">
                <label for="nombre" class="label">Nombre completo</label>
                <input type="text" id="nombre" name="nombre" required class="input" value="{{nombre}}">

                <label for="username" class="label">Nombre de usuario</label>
                <input type="text" id="username" name="username" required class="input" value="{{username}}">

                <label for="year" class="label">Año de nacimiento</label>
                <input type="date" id="year" name="year" required class="input" value="{{nacimiento}}">

                <label for="genero" class="label">Género</label>
                <select id="genero" name="genero" required class="input">
                    <option value="{{genero}}" selected>{{genero}}</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Prefiero no cargarlo">Prefiero no cargarlo</option>
                </select>

                <label for="email" class="label">Correo electrónico</label>
                <input type="email" id="email" name="email" required class="input" value="{{correo}}">

                <label for="password" class="label">Contraseña</label>
                <input type="password" id="password" name="password" class="input" placeholder="*****">
                <div class="password-info" id="password-info">La contraseña debe tener al menos 6 caracteres, incluyendo al menos una letra y un número.</div>

            </div>
        </div>
            <div class="map-container">
                <label for="map" class="label">País y Ciudad</label>
                <p hidden>Latitud: {{latitud}}</p>
                <p hidden>Longitud: {{longitud}}</p>

                <div id="map" style="width: 100%; height: 300px; margin: 20px 0;"></div>
                <input type="hidden" id="latitud" name="latitud" value="{{latitud}}">
                <input type="hidden" id="longitud" name="longitud" value="{{longitud}}">
                <input type="hidden" id="pais" name="pais" value="{{pais}}">
                <input type="hidden" id="ciudad" name="ciudad" value="{{ciudad}}">
            </div>
        </div>
            <div class="boton">
                <div class="botonVolver"><a href="/Login/toHome">Volver</a></div>
                <button class="botonEditar" type="submit" name="enviar">Guardar Cambios</button>
            </div>

        {{/datos_usuario}}

    </form>
</div>

<footer>
    <div class="acomodarFooter">
        <div class="seccion1Footer">

        </div>
        <div class="drev">
            <p>Derechos Reservados ©2024 Preguntados. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../public/js/modificarUsuario.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRMp94YG9PHRr-RSCqwmxUgEzRGxQIY10&callback=initMap" async defer></script>
<style>
    body{
        background-image: url("../public/img/fondo.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
</body>