<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/css/partidaTerminada.css">
    <link rel="icon" href="../public/assets/favicon.ico" type="image/x-icon">
    <title>Partida Terminada</title>
</head>
<body>
<div class="confirmaPartida">
    <h1>¡La partida ha terminado!</h1>
    {{#puntaje}}
    <p>Puntaje final: {{puntaje}}</p>
    {{/puntaje}}
    {{#duelo}}

    {{/duelo}}
    <div class="botonHome">
        <a href="/">Ir a HOME</a>
    </div>
</div>
</body>
</html>

<style>
    body {
        background-image: url('../public/img/fondoRegistro.png');
    }
</style>