<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partida Terminada</title>
</head>
<body>
<h1>¡La partida ha terminado!</h1>
<p>Puntaje final: {{puntaje}}</p>
<a href="/">Ir a HOME</a>
</body>
</html>