<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="../public/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/perfil-usuario.css">
</head>
<body class="d-flex align-items-center bodyPerfilUsuario" >

{{#datos_usuario}}
    <div class="datos-containerPerfilUsuario">
        {{#error}}
            <div class="error-messagePerfilUsuario">
                <h1>{{error}}</h1>
            </div>
        {{/error}}
        <div class="datosPerfilUsuario">
            <div class="imagenYqr">
            <div class="imagenPerfilUsuario">
                <div> <img src="/public/img/users/{{imagen_perfil}}" alt="Imagen de perfil"></div>
                <div> <img class="img-fluid" src="/public/img/profile_qrs/{{id_usuario}}_qr.png" alt="CódigoQR"></div>

            </div>

            </div>

            <div class="nombrePrincipales">
            {{#boton-editar}}
                <h1>¡Hola {{username}}!</h1><br>
            {{/boton-editar}}
            {{^boton-editar}}

                <h1>PERFIL DE {{username}}</h1><br>


            {{/boton-editar}}
                <h3>Mail: {{correo}}</h3> <br>
                <h3>Nombre completo: {{nombre}}</h3> <br>
                <h3>Calendario: {{nacimiento}}</h3> <br>
                <h3>Genero: {{genero}}</h3> <br>
                <h3>Pais: {{pais}}</h3> <br>
                <h3>Ciudad: {{ciudad}}</h3> <br>
                <h3>Latitud: <span id="latitud">{{latitud}}</span></h3> <br>
                <h3>Longitud: <span id="longitud">{{longitud}}</span></h3> <br>


                <h2 class="partidas">Partidas realizadas</h2>
                <div class="conteinerPartidas">
                <ul>
                    {{#partidas}}
                        <li>Puntos: {{puntos}}, Fecha: {{fecha}}, Jugador: {{username}}</li>
                    {{/partidas}}
                    {{^partidas}}
                        <li>No has jugado ninguna partida aún.</li>
                    {{/partidas}}
                </ul>
                </div>
            </div>
        </div>

        <div>


            <div class="map-container">
                <p hidden>Latitud: <span id="latitud">{{latitud}}</span></p>
                <p hidden>Longitud: <span id="longitud">{{longitud}}</span></p>
                <div id="map"></div>
            </div>
        </div>
        <div class="botonEditarPerfilUsuario">
            <div>
                <a href="/">Volver al home</a>
            </div>
            <div>
                {{#boton-editar}}
                    <a href="/PerfilUsuario/modificarUsuario">Editar datos</a>
                {{/boton-editar}}
                {{^boton-editar}}
                    <a href="/PerfilUsuario/iniciarDuelo?id={{id_usuario}}">¡Duelo!</a>
                {{/boton-editar}}
            </div>
        </div>
    </div>
{{/datos_usuario}}


<footer>
    <div class="acomodarFooter">
        <div class="seccion1Footer">
        </div>
        <div class="drev">
            <p>Derechos Reservados ©2024 Preguntados. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../public/js/perfil-usuario.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRMp94YG9PHRr-RSCqwmxUgEzRGxQIY10&callback=initMap" async defer></script>

</body>

<style>
    .bodyPerfilUsuario{
        background-image: url("/public/img/fondo.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
