<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntados</title>

</head>
<body>
<div class="container">
    <div id="myBar">

    </div>
    {{#pregunta}}
    <div class="text-center">
        <div class="text-center card">
                <h2 class="mb-2 mt-3 py-4 text-center border rounded contesta">{{tematica}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-3">
                {{#duelo}}
                <div class="card-body">
                    <p class="card-text">{{jugador1_nombre}} / {{jugador1_puntaje}}</p>
                    <p class="card-text">{{jugador2_nombre}} / {{jugador2_puntaje}}</p>
                </div>
                {{/duelo}}
                <div class="card-body">
                        <p class="card-text">{{texto_pregunta}}</p>
                        <p class="dificultad">Dificultad de la pregunta: {{texto_dificultad}}</p>
                </div>
                {{#puntaje}}
                <div class="card-body">
                    <p class="card-text">Puntaje actual: {{puntaje}} </p>
                </div>
                {{/puntaje}}
                <form class="card-body d-flex flex-column align-items-center" method="post" enctype="multipart/form-data"
                      action="/Play/proximaPregunta">
                    <input type="hidden" name="id_pregunta" id="id_pregunta" value="{{id_pregunta}}">
                    <div class=" col-10 btn-group-vertical align-self-center" role="group">
                    {{#respuesta}}
                        <input class="btn-check" type="radio" name="id_respuesta" id="radio-{{id_respuesta}}" onclick="seleccionarRespuesta('{{id_respuesta}}')" value="{{id_respuesta}}">
                        <label class="radio-button py-2" for="{{id_respuesta}}">{{texto}}</label>
                    {{/respuesta}}
                    </div>
                    <button type="submit" class="botonEnviar" id="responder" name="responder">Responder</button>
                </form>
                <div id="countdown" class="countdown-timer"></div>
            </div>
            <div id="countdown" class="countdown-timer"></div>

            {{^duelo}}
                <a class="botonEnviar" href="/Play/finalizar_partida">Finalizar partida</a>
            {{/duelo}}
        </div>
        <form class="reportar" action="/Pregunta/reportarPregunta" method="post">
            <input type="hidden" name="id_pregunta" value="{{id_pregunta}}">
            <button type="submit" class="botonEnviar">Reportar Pregunta</button>
        </form>
    </div>


    {{/pregunta}}
</div>

<script>
    function reportarPregunta(id_pregunta) {
        var motivo = prompt("Ingrese el motivo de reporte:");
        if (motivo !== null) {
            var data = {
                id_pregunta: id_pregunta,
                motivo: motivo
            };

            // Envío de la solicitud AJAX
            $.ajax({
                type: "POST",
                url: "/reportar-pregunta",
                data: data,
                success: function(response) {
                    alert('Pregunta reportada exitosamente.');
                },
                error: function(xhr, status, error) {
                    alert('Error al reportar la pregunta.');
                    console.error(error);
                }
            });
        }
    }
</script>
        <script>
            function move() {
                var elem = document.getElementById("myBar");
                var countdown = document.getElementById("countdown");
                var width = 100; // Ancho inicial
                var duration = 30000; // Duración en milisegundos (30 segundos)
                var frameRate = 10; // Intervalo de actualización (ms)
                var frames = duration / frameRate;
                var step = width / frames;
                var i = 0;

                function frame() {
                    if (i < frames) {
                        i++;
                        width -= step;
                        elem.style.width = width + "%";
                        var remainingTime = ((frames - i) * frameRate / 1000).toFixed(1);
                        countdown.textContent = remainingTime + " segundos restantes";
                    } else {
                        clearInterval(id);
                        alert("¡Tiempo agotado!");
                        // Puedes agregar aquí cualquier otra acción que desees cuando el tiempo se agote
                        let aux_url = window.location.href
                        if(aux_url.includes("playDuelo")){
                            window.location.replace("/Play/playDuelo");
                        }else{
                            window.location.replace("/Play/finalizar_partida");
                        }
                    }
                }

                var id = setInterval(frame, frameRate);
            }

            window.onload = function() {
                move();
            };
        </script>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    .card {
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contesta {
        color: black
    ;
        padding: 10px;
        margin-top: 20px;
        border-radius: 5px;
        text-align: center;
    }

    .radio-button {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 18px;
        line-height: 24px;
        background-color: black;
        color: white;
        text-align: center;

    }
    .radio-button input {
        opacity: 0;
        cursor: pointer;
    }
    .radio-checkmark {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        width: 25px;
        height: 25px;
        background-color: #fff;
        border: 2px solid #f39c12;
        border-radius: 50%;
    }
    .radio-label {
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
    }
    .botonEnviar{
        display: flex;
        justify-content: center;
        margin-top: 1em;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        border-radius: 1em;
        padding: 1em;
        background-color: #ffffff;
        align-items: center;
        font-size: 1.2em;
    }

    .botonEnviar:hover{
        background-color: #09a909;
        color: white;
    }

    .card-text {
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        text-decoration: underline;
    }
    .dificultad {
        text-align: center;
    }
    body {
        background-image: url("/public/img/fondo.png");
        background-repeat: no-repeat;
        background-size: cover;
    }


    #formularioPlay{
        display:flex;
        flex-direction: column;
    }

    .reportar{
        display: grid;
    }


</style>