<main class="row flex-grow-1 justify-content-center mt-5 mb-5">

    <div class="col-12 col-lg-8 card d-flex flex-column text-center p-0 bg-dark {{#preguntas}}categoria{{tematicas}}{{/preguntas}}">
        <div class="card-header mb-3">
            {{#preguntas}}
                <h2 class="pregunta">{{pregunta_texto}}</h2>
                <p class="categoria">
                    {{tematicas}}
                </p>
            {{/preguntas}}
        </div>

        <form class="card-body d-flex flex-column align-items-center" method="post" enctype="multipart/form-data"
              action="
              {{^error}}
                /Play/validar_respuesta
              {{/error}}
                  {{#error}}
                  /Play/reportarPregunta
              {{/error}}
        ">
            {{#preguntas}}
                <input type="hidden" name="id_pregunta" id="id_pregunta" value="{{id_pregunta}}">
            {{/preguntas}}
            <div class=" col-10 btn-group-vertical align-self-center" role="group">
                {{#respuesta}}
                    {{^error}}
                        <input class="btn-check" type="radio" name="id_respuesta" id="{{id_respuesta}}"
                               value="{{correcta}}-{{id_respuesta}}">
                        <label class=" btn btn-outline-success text-light respuesta" for="{{id_respuesta}}">
                            {{respuesta_texto}}
                        </label>
                    {{/error}}
                    {{#error}}
                        <label class="col-12 text-center alert border-dark correcta-{{correcta}} text-dark fw-bold"
                               for="{{id_respuesta}}">
                            {{descripcion}}
                        </label>
                    {{/error}}
                {{/respuesta}}
            </div>
            {{#error}}
                <div class="col-10 col-lg-4 mt-3 mb-3 text-center align-self-center" id="error_activado">
                    <p class="alert alert-danger text-center"> {{.}} </p>
                    <a href="/Play/finalizar_partida" class="btn btn-lg btn-warning btn-11">Volver al lobby</a>
                </div>
            {{/error}}

            {{^error}}
                <button type="submit" class="btn btn-lg btn-success mt-3 btn-11 w-50">Responder</button>
            {{/error}}
        </form>



        {{^error}}
            <a class="btn btn-sm btn-dark text-light btn-11 w-50 align-self-center" href="/playView/finalizar_partida">Finalizar partida</a>


        {{/error}}
    </div>
</main>

<script>
    function move() {
        var elem = document.getElementById("myBar");
        var countdown = document.getElementById("countdown");
        var width = 100; // Ancho inicial
        var duration = 30000; // Duración en milisegundos (5 segundos)
        var frameRate = 10; // Intervalo de actualización (ms)
        var frames = duration / frameRate;
        var step = width / frames;
        var i = 0;

        function frame() {
            if (i < frames) {
                i++;
                width -= step;
                elem.style.width = width + "%";
                var remainingTime = (frames - i) * frameRate / 1000;
            } else {
                clearInterval(id);
            }
        }
        var id = setInterval(frame, frameRate);
    }

    move();
</script>

