<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking de usuarios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="../public/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/estilos.css">

</head>
<body>

<main class="main">
    <h1>----RANKING DE USUARIOS----</h1>

    {{#primer_usuario}}
        <section class="primer-usuario">
            <h2>Felicidades {{username}}!</h2>
            <img src="/public/img/users/{{imagen_perfil}}" alt="imagenPerfil{{username}}">
            <p>Puntos: {{max_puntos}}</p>
            <a href="http://localhost/PerfilUsuario/buscarUsuario?id={{id_usuario}}">
            <img src="/public/img/profile_qrs/{{id_usuario}}_qr.png" alt="CódigoQR">
            </a>
        </section>
    {{/primer_usuario}}

    <h2 class="otrosUser">OTROS USUARIOS</h2>
    <ul>
        {{#otros_usuarios}}
            <li>
                <img class="perfil" src="/public/img/users/{{imagen_perfil}}" alt="imagenPerfil{{username}}">
                <h3>{{index}}. {{username}}</h3>
                <p>Puntos: {{max_puntos}}</p>
                <a href="http://localhost/PerfilUsuario/buscarUsuario?id={{id_usuario}}">
                <img src="/public/img/profile_qrs/{{id_usuario}}_qr.png" alt="CódigoQR">
                </a>
            </li>
        {{/otros_usuarios}}
    </ul>
</main>

</body>
</html>

