<head>

</head>
<body>
    <div>
        <h2>Bienvenido</h2>
        <p>Para comenzar a jugar, por favor inicia sesión con tus datos</p>
        <a href="#">Iniciar sesión</a>
    </div>
    <div>
        <div>
            <h2>Crear una cuenta</h2>
            <a href="#">G</a>
            <a href="#">F</a>
            <a href="#">X</a>
            <p>O usa tu email para registrarte</p>
        </div>
        <div>
            <form action="./inpdex.ph" method="POST">
                <input type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Usuario">
                <input type="email" name="mail" id="mail" placeholder="Correo electrónico">
                <input type="password" name="contrasenia" id="contrasenia" placeholder="Contrasenia">
                <input type="submit" name="registro" id="registro" value="Registrarse">
            </form>
        </div>
    </div>
</body>