{{#altaOk}}
    <p>{{altaOk}}</p>
    <p>Por favor, valide el usuario accediendo al siguiente link.</p>
    <p><a href="/Registro/validacion?code={{numVal}}">Validar usuario</p>
{{/altaOk}}

{{#validar}}
    <p>El usuario fue validado! Ya puedes empezar a jugar!</p>
{{/validar}}